<div class="add_plus">
        <div class="container">
            <div class="links_top">
                <a href="/">Главная</a>
                <a href="#">Профиль пользователя</a>
            </div>
            <div class="d-flex justify-content-between alfon">
                <div class="univ d-flex align-items-center">
                    <div class="img_un">
                        <img src="/img/logo.png" alt="">
                    </div>
                    <div class="text_un">
                        <h1>{{user.name}}</h1>
                        <a href="/auth/logout">Выйти</a>
                    </div>
                </div>
                {{!-- <div class="schet">
                    <p>Ваш счет:<b> 18000 сум</b></p>
                    <a href="#" class="popol"><img src="images/plus_circle.png" alt="">Пополнить</a>
                </div> --}}

            </div>
        </div>
    </div>